* {
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background: white;
	font: 13px Arial, Tahoma, sans-serif;

}
a {
	text-decoration: none;
}
#header_nav {
	padding: 10px
}
#header_nav ul {
	list-style: none;
	}
#header_nav ul li {
	float: right;
}
#header_nav ul li a {
	color: black;
	display: block;
	padding: 8px;
	line-height: 35px;
}
#header_nav ul li a:hover {
	text-decoration: underline;
}
#enter_button {
	display: block;
	text-decoration: none;
	background: blue;
	margin: 10px;
	height: 10px;
	width: 65px;
	padding: 11px;
	border-radius: 4px;
	text-align: center;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	moz-border-radius: 4px;
	ms-border-radius: 4px;
	khtml-border-radius: 4px;
}